// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.main{
    margin-top: 100px;
}

.tab_content{
    display: none;
    
}
.tab_active{
    display: block;
}
.tab_active_s{
    background-color: rgb(0, 195, 255);
}
.collection{
    li{
        span{
            cursor: pointer;
        }
    }
}

.modals {
    // display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  }

.modals-content {
    // background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    // border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }