// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

//fontawesome
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html, body{
    height: 100%;
    //background-image: url(/public/img/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.cyan{
    background-color: $cyan !important;
}
.denim{
    background-color: $denim;
}

.main{    
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 94%;
}
.menu-them-header{
    padding: 10px;
    border-bottom: solid $blue 3px;
    background-color: #fff;
}
.col-sidebar{
    width: 16rem;
}
.admin_panel{
    background-color: #ddd;
    height: 100%;
}
.sidebar_admin_active_class{
    color: $blue;
}
.on_hover_item{
    transition: box-shadow 0.3s ease-in-out;
    &:hover{
        box-shadow: -2px -1px 30px -17px rgba(0,0,0,0.71);
    }    
}